{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container">
    <h1>{{ article.title}}'s Detail</h1>
    
    <div class="card">
        <img src="{{ article.image.url }}" class="card-img-top" style="max-width: 50%; max-height: 50%; object-fit: contain;">
        <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <form method="post" action="{% url "articles:articlelike" article.pk "❤️" %}" style="display: inline-block; margin-right: 15px;">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-light">❤️</button>
                <p class="card-text" style="display: inline-block;"><strong>{{ article.like_count }}</strong></p>
            </form>
            <form method="post" action="{% url "articles:articlelike" article.pk "🤨" %}" style="display: inline-block; margin-right: 10px;">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-light">🤨</button>
                <p class="card-text" style="display: inline-block;"><strong>{{ article.dislike_count }}</strong></p>
            </form>
            <p class="card-text"><strong>Model prompt : </strong> {{ article.model_prompt }}</p>
            <p class="card-text"><strong>Texture prompt :</strong> {{ article.texture_prompt }}</p>
            <p class="card-text"><strong>Tags :</strong> {{ article.tags }}</p>
            <p class="card-text"><strong>Model seed :</strong> {{ article.model_seed }}</p>
            <p class="card-text"><strong>Created date :</strong> {{ article.created_at }}</p>
            
            <a href="{% url 'articles:main' %}" class="btn btn-primary">Back to Main</a>
        </div>
    </div>
</div>
{% endblock %}