<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Miravelle</title>
</head>
<body>
    <!-- As a link  Header-->
    <nav class="navbar navbar-light bg-transparent border-bottom">
        <div class="container-fluid">
            <div class="d-flex align-items-center"> <!-- d-flex : 가로 정렬, align-items-center : 컨테이너 안에서 수직 가운데 정렬 -->
                <a class="navbar-brand text-dark" href="{% url "users:main" %}"><strong>Miravelle</strong></a> <!-- navbar-brand : 로고 클릭 시 메인 페이지로 이동 -->
                {% if user.is_authenticated %} <!-- 로그인 상태일 때 -->
                <a class="nav-link text-dark ms-3" href="{% url "assets:asset_list" %}">MY Assets</a> <!-- nav-link : 메뉴 링크, ms-3 : 왼쪽 마진 3단위,  MY Assets 페이지로 이동 -->
                {% endif %} 
            </div>
            <div class="d-flex">
                {% if user.is_authenticated %}
                    <a class="btn btn-dark btn-sm me-2" href="{% url "users:logout" %}">Log Out</a>
                {% else %}
                    <a class="btn btn-dark btn-sm me-2" href="{% url "users:login" %}">Log In</a>
                    <a class="btn btn-dark btn-sm" href="{% url "accounts:register" %}">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
    <!--Footer-->
    <footer class="py-0 bg-transparent border-top fixed-bottom"> <!--배경은 투명, 선으로만-->
        <div class="container">
            <p class="m-3 text-center text-color: rgb(195, 193, 193)">@ 2025</p>
        </div>
    </footer>
    <!-- Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>