{% extends "register-base.html" %}

{% load static %}

{% block content %}
<div class="main-container">
    <div class="login-container">
        <h2><center>Register</center></h2>
        <br>
        <form method="POST" action="{% url 'users:register' %}">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}" class="form-label"><strong>ID</strong></label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.username.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.surname.id_for_label }}" class="form-label"><strong>Name</strong></label>
                {{ form.surname }}
                {% if form.surname.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.surname.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}" class="form-label"><strong>Password</strong></label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.password1.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="{{ form.password2.id_for_label }}" class="form-label"><strong>Check Password</strong></label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.password2.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.email.id_for_label }}" class="form-label"><strong>Email</strong></label>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.message.id_for_label }}" class="form-label"><strong>Message</strong></label>
                {{ form.message }}
                {% if form.message.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.message.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-dark w-100">Submit</button>
        </form>
    </div>
</div>

<style>
    body {
        background-color:#ffffff; /* Light gray background */
        display: flex;
        flex-direction: column;
        min-height: 20vh; /* Ensure full height */
    }
    /* Main Container */
    .main-container {
        flex: 1; /* Allow the main container to take up remaining space */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /* Login Form Container */
    .login-container {
        width: 30%;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        resize: vertical; /* 세로로만 크기 조절 가능하도록 */
    }
    .form-control {
        border: 1px solid #ced4da;
        border-radius: 5px;
        padding: 8px;
        width: 100%;
    }
</style>

{% endblock content %}