{% extends "register-base.html" %}

{% block content %}
<div class="register-main-container">
    <div class="register-container">
        <h2><center>Register</center></h2>
        <br>
        <form method="POST" action="{% url 'users:register' %}">
            {% csrf_token %}
            
            <div class="mb-1">
                <label for="{{ form.username.id_for_label }}" class="form-label"><strong>ID</strong></label>
                <br>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.username.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="mb-1">
                <label for="{{ form.surname.id_for_label }}" class="form-label"><strong>Name</strong></label>
                <br>
                {{ form.surname }}
                {% if form.surname.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.surname.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="mb-1">
                <label for="{{ form.password1.id_for_label }}" class="form-label"><strong>Password</strong></label>
                <br>
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.password1.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="mb-1">
                <label for="{{ form.password2.id_for_label }}" class="form-label"><strong>Check Password</strong></label>
                <br>
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.password2.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="mb-1">
                <label for="{{ form.email.id_for_label }}" class="form-label"><strong>Email</strong></label>
                <br>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group" id = "messageform1">
                <label for="{{ form.message.id_for_label }}" class="form-label"><strong>Message</strong></label>
                <br>
                {{ form.message }}
                {% if form.message.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.message.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-dark w-100">Submit</button>
        </form>
    </div>
</div>

<style>
 {% comment %} /* Main Container */
    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /* Login Form Container */
    .login-container {
        width: 30%;
        padding: 40px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    } {% endcomment %}
    /* 각 필드 입력칸 조절*/
    #id_username {
        width: 100%;
    }
    #id_surname {
        width: 100%;
    }
    #id_password1 {
        width: 100%;
    }
    #id_password2{
        width: 100%;
    }
    #id_email{
        width: 100%;
    }
    #messageform1 textarea {
        width: 100%;
        height: 120px;
    }
</style>

{% endblock content %}